<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="./public/images/bolsa-de-la-compra.png"/>
    <script src="https://kit.fontawesome.com/d11e1c6a7c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    {{{body}}}

    <footer>
      <h4>© Santiago Achucarro.</h4>
      <h4>All Rights Reserved.</h4>
    </footer>
</body>
</html>