 <link rel="stylesheet" href="css/home.css">


{{>navHome}}

 <section class="contenedor contenedor-one">
      <div class="contenedor contenedor-about">
        <h3>
          Esta es una pagina creada con una idea principal, la cual es generar
          un ambiente en el cual compartir lo bello de la Pasteleria y sus
          sabores
        </h3>
        <p>"Por ello aqui encontraras los sabores de manera especial"</p>
      </div>
    </section>

    <section class="contenedor contenedor-two">
      <article class="contenedor-article">
        <img
          src="/images/reposteria 1.jpg"
          style="width: 100%; height: 100%"
        />
      </article>

      <div class="subcontainer">
        <article class="contenedor-article2">
          <h1>
            Nuestros inicios se dieron hace ya 5 años, y fue solo como una idea
            emprendedora del momento. Calificados por nuestros clientes mas
            recientes por nuestra alta calidad en los productos
          </h1>
        </article>

        <article class="contenedor-article3">
          <h2>
            De igual manera buscamos reforza siempre nuestros saberes y es
            manteniendo nuestras 4 bases
          </h2>
          <ul>
            <li>Optando por nuevas recetas</li>
            <li>Mejorando recetas viejas</li>
            <li>Diversificando sabores</li>
            <li>Produciendo con mayor calidad</li>
          </ul>
        </article>
      </div>
    </section>
