 
 <form action="/user/register" method="POST" class="container-form hidden" id="form-register">
            <h1>Configuracion</h1>
            <label for="name">Usuario</label>
            <input type="text" name="user" >
            <label for="email">Email</label>
            <input type="email" name="email">
            <label for="number">Contraseña</label>
            <input type="password" name="password">
        
            <button type="submit">Realizar Cambios</button>
            <button type="submit">Eliminar Cuenta</button>
            <div class="divRegister" id="secondIniciar"></div>
 </form>