<link rel="stylesheet" href="/css/contact.css">
{{>navContact}}

        <!--FORMULARIO-->
        
    <main class="contenedor">
        <form action="/contact" method="POST" class="contenedor-one">
            <h1>Contactenos</h1>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name">
            <label for="number">Telefono</label>
            <input type="text" name="number" id="number">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <button type="submit">ENVIAR</button>
        </form>
    </main>

    {{#each arrWarnings}}
        <p>{{msg}}</p>
    {{/each}}
<script src="/helpers/toastify.js"></script>