<link rel="stylesheet" href="/css/store.css">

   {{>navStore}}

    <!-- BOX DE PRODUCTOS -->

    <section class="contenedor-pr sticky-top">
      <div class="box-prod  d-flex justify-content-around overflow-auto bg-secondary bg-opacity-50 rounded-2">
        <div class="carro ">

          <div class="cantidades" >
            <p class="fs-5 m-0">Cantidad</p>
            <ol class="fs-6 m-0 p-0 text-center" id="cantidades">
              
            </ol>
          </div>

          <div class="unidad" >
            <p class="fs-5 m-0">Unidad</p>
            <ol class="fs-6 m-0 p-0 text-center"  id="unidad">
            
            </ol>
          </div>

          <div class="valores" >
            <p class="fs-5 m-0">Valor</p>
            <ol class="fs-6 m-0 p-0 text-center" id="valores">
           
            </ol>
          </div>
        </div>
      </div>
    </section>


    <!-- FILTRADOR DE PRODUCTOS -->
 <form class="d-flex col-3 m-auto mt-2 " role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search">
      </form>

    <!-- PRODUCTOS -->
    <section class="cards d-flex flex-wrap justify-content-evenly">
     
    {{#each products}}
     <article class="card bg-secondary bg-opacity-50">
      <div class="img">
        <img src ={{img}} alt="Cake" style="width:100%">
      </div>
      <div class="titles">
        <h1 class="fs-3 ">{{prod}}</h1>
        <h3 class="fs-5">${{valor}}</h3>
        <h4 class=" fs-5">{{stock}} EN STOCK</h4>
      </div>
      <div class="card-body btns">
        <input  type="number" value="0" style="display:none;">
        <button class="btn1 rounded-2" >Add to Cart</button>
        <button class="rest hidden rounded-2">-</button>
      </div>
     </article>
     {{/each}}
    
    </section>
    
  <script src="/helpers/market.js"></script>