
/* AUTH */
.center-cont{
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.noauth{
    width: 25%;
  }
.center-cont > p{
  font-weight: bold;
  font-size: 40px;
}


@media only screen and (max-width: 600px) {
    h1{
      font-size: 20px;
    }
    .container{
      flex-direction: column;
    }
    .navbar{
      margin: 0;
      
    }
    .contenedor{
      font-size: 10px;
      height: 60vh;
    }
    .logo h1{
      font-size: 20px;
    }
    footer{
        font-size: 13px;
       }
    .center-cont > p{
        font-size: 20px;
      }
      .noauth{
        width: 55%;
      }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 1200px) {
    h1{
      font-size: 20px;
    }
    .container{
      flex-direction: column;
    }
    .navbar{
      margin: 0;
      
    }
    .logo h1{
      font-size: 20px;
    }
    .center-cont > p{
        font-size: 30px;
      }
   
  }



